<!-- Include Html Boilerplate -->
<!-- Include Nav -->

<head></head>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/markdown.css') }}">
</head>
<body>
    
</body>
</html>

{% include 'nav.html' with context %}

<!-- Body --> 
<body>
    <div class="flex justify-center min-h-screen">

        <aside class="flex-grow w-min hidden lg:block p-8 border-r-2">

            <h1>Contents</h1>
            <span>Progress 1/24</span>

            <!-- Checkboxes here -->
            
            <div class="checkbox"></div>

        </aside>
        <main class="w-full max-w-screen-lg p-8">
            <div class="markdown">
                {{ course|safe }}
            </div>
            <footer>
                <hr>
                <div class="flex justify-end">
                    <div>
                        <a href="" class="text-lg font-semibold hover:underline">Next</a>
                        <!-- Add Right Arrow Icon -->

                    </div>
                </div>

                    
                
            </footer>
        </main>
        <aside class="flex-grow w-min hidden lg:block p-8 border-l-2">
        
        </aside>

    </div>


</body>
