{% extends 'main.html' %}
{% set active_item = 'courses' %}

{% block body %}
<main class="mx-[70px]">
  <div class="lg:grid lg:grid-cols-[1fr_204px] lg:gap-x-[78px]">
    <div class="flex justify-center mt-[13px] mb-[17px] lg:order-last">
      <div class="stats w-[204px]">
        <div id="finished" class="text-[25px]">
          Courses Finished
        </div>
        <p id="no-finished" class="text-[25px]">
          🔥 0
        </p>
        <p class="text-[22px]">
          Going strong! 💪
        </p>
      </div>
    </div>

    <div id="your-courses" class="mb-[17px]">
      <h2 class="text-[22px] mb-[12px]">
        Your Courses
      </h2>

      <!-- This should be automated -->
      <div class="item-course ">
        <div class="grid grid-cols-[128px_1fr] gap-x-[26px] my-[12px]">
          <div>
            <div class="bg-[#535353] rounded-[16px] w-[128px] h-[96px] flex justify-center items-center">
              <img src="{{ url_for('static', filename='media/icon-file.svg') }}" alt="file icon" >
            </div>
            <button class="text-[15px] bg-[#1A1A1A] text-[#FDFDFD] w-[128px] rounded-[16px] h-[30px] mt-[12px] font-bold hover:bg-[#171717] hover:text-[#EDEDED]">
              Resume
            </button>
          </div>
          <div class="course-title">
            <h3 class="line-clamp-4 text-[18px]">Linux File System</h3>
            <p class="text-[15px] line-clamp-4 h-[91px] mb-[32px] hidden lg:block">
              This course will teach you about the file structure in linux. Learning the linux file system would enable you to troubleshoot problems that you might encounter. Furthermore, it will help you know the ins and outs of your operating system.
            </p>
          </div>
        </div>
        <p class="text-[15px] line-clamp-4 mb-[32px] lg:hidden">
          This course will teach you about the file structure in linux. Learning the linux file system would enable you to troubleshoot problems that you might encounter. Furthermore, it will help you know the ins and outs of your operating system.
        </p>
      </div>
      
      <!-- This should be automated -->
      <div class="item-course ">
        <div class="grid grid-cols-[128px_1fr] gap-x-[26px] my-[12px]">
          <div>
            <div class="bg-[#535353] rounded-[16px] w-[128px] h-[96px] flex justify-center items-center">
              <h2 class="font-bold text-[#FFFFFF] text-[32px] truncate">FOSS</h2>
            </div>
            <button class="text-[15px] bg-[#1A1A1A] text-[#FDFDFD] w-[128px] rounded-[16px] h-[30px] mt-[12px] font-bold hover:bg-[#171717] hover:text-[#EDEDED]">
              Resume
            </button>
          </div>
          <div class="course-title">
            <h3 class="line-clamp-4 text-[18px]">Free and Open-Source Software</h3>
            <p class="text-[15px] line-clamp-4 h-[91px] mb-[32px] hidden lg:block">
              Free and open-source software pertains to applications with their codebase out in the public. Developers and hobbyist could contribute to the development of these applications. In addition, since the codebase is publicly available, people could raise issues in their repository when they see problematic code.
            </p>
          </div>
        </div>
        <p class="text-[15px] line-clamp-4 mb-[32px] lg:hidden">
          Free and open-source software pertains to applications with their codebase out in the public. Developers and hobbyist could contribute to the development of these applications. In addition, since the codebase is publicly available, people could raise issues in their repository when they see problematic code.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}