<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>append</title>
</head>
<body>
  <nav class="flex justify-between mx-[27px] py-[19px]">
    <div class="brand text-[32px]">
      >>
    </div>

    <div class="border border-red-800 flex justify-center w-[51px] h-[51px] rounded-[50px] bg-[#535353]">
      <img src="../static/icon-user.svg" height="24" width="24" alt="user icon">
    </div>
  </nav>  

  <main class="mx-[70px]">
    <div class="hello mt-[2px] text-[22px] font-bold">
      Hi, John! 👋 
    </div>

    <div class="stats border border-red-800 flex ">
      <div id="finished" class="">
        Courses Finished
      </div>
      <p id="no-finished" class="clas">
        🔥 0
      </p>
      <p>
        Going strong! 💪
      </p>
    </div>
  </main>
</body>
</html>