<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>append</title>
</head>
<body class="bg=[#FCFCFC]">
  <div class="lg:grid lg:grid-cols-2 lg:h-screen">
    <div class="lg:bg-[#535353] lg:flex lg:justify-center lg:flex-col">
      <h1 class="text-[90px] text-center pt-[37px] text-[#535353] lg:text-[#F9F9F9]">>></h1>
      <h1 class="text-center text-[60px] -mt-10 mb-[90px] text-[#535353] lg:text-[#F9F9F9]">append</h1>
    </div>
    <form action="/signup" method="post" class="mx-[73px] lg:flex lg:justify-center lg:flex-col">
      <h1 class="text-[30px]">Sign Up</h1>
      <h2 class="text-[25px] mb-[25px]">Join us!</h2>
      <div class="pb-[12px]">
        <label for="">Name</label> 
      </div>
      <input name="username" type="text" class="border rounded-[16px] border-black mb-[12px] w-full h-[38px] px-4">
      <div class="pb-[12px]">
        <label for="">Email</label> 
      </div>
      <input name="email" type="email" class="border rounded-[16px] border-black mb-[12px] w-full h-[38px] px-4">
      <div class="pb-[12px]">
        <label for="">Password</label>
      </div>
      <input name="password" type="password" class="border rounded-[16px] border-black mb-[25px] w-full h-[38px] px-4">
      <button type="submit" class="font-bold border bg-[#535353] w-full rounded-[16px] mb-[25px] text-[22px] py-[9px] text-[#F9F9F9]">Submit</button>
      <p>Already have an account? <a href="/login" class="text-blue-700 font-bold">Login</a></p>
    </form>
  </div>
  
</body>
</html>